.About {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.triger {
  color: white;
  background-color: #222;
  border: 0px solid transparent;
  font-size: 30px;
  width: 25vw;
  height: 10vh;
}
.itemBox {
  width: 20vw;
  height: 20vh;
  background-color: white;
}

.conta {
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
