.About {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.profileCon {
  width: 41.4vw;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.stackCon {
  width: 41.4vw;
  height: 100vh;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  object-fit: scale-down;
  margin-bottom: 30px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btnConAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}

.cardConAbout {
  display: flex;
  flex-direction: row;
}

.buttonAboutChange {
  height: 7vh;
  width: 10vw;
  font-size: 30px;
  font-family: "Black Han Sans", sans-serif;
  background-color: transparent;
  border-radius: 10px;
  border: 5px solid #98fb98;
  color: #98fb98;
}

.buttonAboutChange:hover {
  color: #fdff88;
  border: 5px solid #fdff88;
}

.textBoxAbout {
  font-family: "Nanum Brush Script", cursive;
  font-weight: "100";
  margin-left: 20px;
  width: 86%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.ppp {
  color: #666;
  font-size: 12px;
  margin: 4px;
}

.turtle11 {
  object-fit: contain;
  /* width: 6vw; */
  width: 50pt;
}

.turtleCon {
  display: flex;
  width: 30vw;
  height: 6vh;
  /* object-fit: contain; */
  margin-top: 110px;
  margin-left: 20px;
  justify-content: flex-start;
  flex-direction: row;
}

.profileAbout {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
  margin-left: 25px;
  margin-top: -20px;
  color: #333;
}

.skillAbout {
  font-family: "Black Han Sans", sans-serif;
  color: #333;
  font-weight: 100;
  margin-left: 25px;
  margin-top: -20px;
}

.graph {
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pro {
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.logoAbout {
  border-radius: 8px;
}

.textBoxAbout p {
  margin: 3px;
}
