.progress-bar1 {
  width: 15%;
  background-color: #e34f26;
  margin: 4px;
  margin-right: 10px;
  border-radius: 10px;
  animation: progress-animationHTML 3s forwards;
}

.progress-bar2 {
  width: 15%;
  background-color: #1572b6;
  margin: 4px;
  margin-right: 10px;
  border-radius: 10px;
  animation: progress-animationCSS 3s forwards;
}

.progress-bar3 {
  width: 15%;
  background-color: #f7df1e;
  margin: 4px;
  margin-right: 10px;
  border-radius: 10px;
  animation: progress-animationJS 3s forwards;
}

.progress-bar4 {
  width: 15%;
  background-color: #61dafb;
  margin: 4px;
  margin-right: 10px;
  border-radius: 10px;
  animation: progress-animationREACT 3s forwards;
}

@keyframes progress-animationHTML {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

@keyframes progress-animationCSS {
  0% {
    height: 0%;
  }
  100% {
    height: 30%;
  }
}

@keyframes progress-animationJS {
  0% {
    height: 0%;
  }
  100% {
    height: 70%;
  }
}

@keyframes progress-animationREACT {
  0% {
    height: 0%;
  }
  100% {
    height: 45%;
  }
}

.proCon {
  height: 500px;
  width: 70%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.iconHTML {
  filter: invert(42%) sepia(20%) saturate(1823%) hue-rotate(326deg)
    brightness(99%) contrast(115%);
}

.nameAboutSkill {
  width: 2.5vw;
  display: flex;
  justify-content: center;
  margin-right: 5px;
  margin-top: 5px;
  align-items: center;
  text-align: center;
}
