html {
  background-color: red;
}

.Home {
  width: 82.8vw;
  height: 100vh;
  background-color: #3cb371;
  display: flex;
  flex-direction: column;
}

.About {
  width: 82.8vw;
  height: 100vh;
  background-color: #3cb371;
}

.Blog {
  width: 82.8vw;
  height: 100vh;
  background-color: #3cb371;
}

.Content {
  width: 82.8vw;
  height: 100vh;
  background-color: #3cb371;
}
