.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.side {
  display: flex;
  flex-direction: column;
  width: 17vw;
  height: 100vh;
  background-color: #2e8b57;
}

/* .side2 {
  display: flex;
  flex-direction: column;
  width: 17vw;
  height: 100vh;
  background-color: #61dafb;
  animation-name: fadein;
  animation-duration: 3s;
} */

.line {
  width: 0.2vw;
  background-color: #1e7946;
}

.titleCon {
  /* 제목 콘테이너 스타일 */
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.title {
  /* 제목 스타일 */
  color: white;
  font-weight: 100;
  font-family: "Black Han Sans", sans-serif;
  font-size: 65px;
  margin-top: 20px;
  margin-right: 10px;
}

.btnCon {
  /* 버튼 콘테이너 스타일 */
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-top: 100px;
}

.btn {
  padding: 20px;
  font-size: 25px;
  font-family: "Black Han Sans", sans-serif;
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 15vw;
  height: 7vh;
  margin-left: 45px;
  border-color: transparent;
}

.sub:hover {
  color: #98fb98;
}

.sub1 {
  color: #fdff88;
}

.sub1:hover {
  color: #98fb98;
}

.icon {
  font-size: 28px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.copyright {
  color: white;
  font-weight: 100;
  font-family: "Black Han Sans", sans-serif;
  opacity: 0.5;
  margin-left: 10px;
}

.cpCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
